@charset "UTF-8";

*{margin: 0; padding: 0;}

hr{margin: 20px;}
#container{width: 1000px; margin: 30px auto; text-align: center;}

.tbl_list{margin: 20px auto; width: 620px; text-align: center;}
.tbl_list, th ,td{border:1px solid #ccc; border-collapse: collapse; padding: 10px;}
.btn_box{width: 620px; margin: 0 auto; text-align: left}


.tbl_reg{margin: 20px auto; width: 580px;}
.tbl_reg, th ,td{border:1px solid #ccc; border-collapse: collapse; padding: 10px;}
.tbl_reg input{width: 450px; height: 30px;}	
.tbl_reg textarea {width: 460px;}